In [27]:
# Loading packages
import pandas as pd
import numpy as np

In [66]:
# Importing data
# 1. Importing Boston Airbnb data
boston_calendar = pd.read_csv("Boston\calendar.csv")
boston_listings  = pd.read_csv("Boston\listings.csv")
#boston_reviews  = pd.read_csv("Boston\reviews.csv", skip_blank_lines=True, delimiter = " ")

# 2. Importing Seattle Airbnb data
seattle_calendar = pd.read_csv("Seattle\calendar.csv")
seattle_listings = pd.read_csv("Seattle\listings.csv")
#seattle_reviews = pd.read_csv("Seattle\reviews.csv")

In [153]:
# Cleaning and joining Boston data
#1. Drop NaN values in "boston_calendar" dataframe
#boston_calendar.isna().sum()/boston_calendar.shape[0]
#boston_listings.isna().sum()/boston_listings.shape[0]

boston_calendar_ = boston_calendar.dropna(axis=0)

#####
def col_drop(df, param=0.5):
    """This function eliminates columns with more than "param" percent of NaN values.
    By default 50% of NaN values.
    INPUT:
        df: is the name of the data frame.
        param: is a default parameter, that refers to maximum % of NaN values permited in a column.
    OUTPUT
        df_ : a DataFrame with columns with only the columns that satisfy the conditions above descrived.
    """
    df_=pd.DataFrame()
    for i in df:
        if df[i].isna().sum()/df.shape[0] < param:
                df_[i] = df[i]
    return df_
#######

boston_listings_ = col_drop(boston_listings, param=0.7)   

boston_listings_.shape

(3585, 88)

In [137]:
# Cleaning and joining Sea

(3585, 95)